*{
	margin: 0px;
	padding:0px;
}
body{
	font-family: 'Courier New', cursive;
	background: #eeb8ed;
}
#wrapper{
	text-align: center;
	margin: 10% auto 0;
	background: url(backytam.png) center;
	height: 322px;
	width: 500px;
	padding-top: 5px;
}
h1{
	font-size:30px;
}
h1, h3{
	color: #911aa3;

}
#love{
	color:#ed72ea;
}