/* line 1, ../compass/scroll.scss */
::-webkit-scrollbar { height: 20px; overflow: visible; width: 10px; }

/* line 6, ../compass/scroll.scss */
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal { background-color: rgba(0, 0, 0, 0.4); background-clip: padding-box; border-radius: 5px; cursor: pointer; display: block; min-height: 30px; }

/* line 14, ../compass/scroll.scss */
::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover { background-color: rgba(0, 0, 0, 0.8); }

/* line 17, ../compass/scroll.scss */
::-webkit-scrollbar-button { height: 0; width: 0; }

/* line 21, ../compass/scroll.scss */
::-webkit-scrollbar-track { background-clip: padding-box; border-width: 0 0 0 4px; border: solid transparent; }

/* line 26, ../compass/scroll.scss */
::-webkit-scrollbar-track:hover { background-color: #F5F5F5; }

/* line 29, ../compass/scroll.scss */
::-webkit-scrollbar-track-piece { background-clip: padding-box; background-color: white; }

/* line 33, ../compass/scroll.scss */
::-webkit-scrollbar-track-piece:hover { background-color: #F5F5F5; }

/* line 36, ../compass/scroll.scss */
.scrollbar::-webkit-scrollbar-track-piece:vertical:start { border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

/* line 42, ../compass/scroll.scss */
.scrollbar::-webkit-scrollbar-track-piece:vertical:end { border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

/* line 48, ../compass/scroll.scss */
.scrollbar::-webkit-scrollbar-track-piece:horizontal:start { border-top-left-radius: 5px; border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 5px; }

/* line 54, ../compass/scroll.scss */
.scrollbar::-webkit-scrollbar-track-piece:horizontal:end { border-top-left-radius: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 0; }

/* line 60, ../compass/scroll.scss */
::-webkit-scrollbar-corner { background: transparent; }

/* line 63, ../compass/scroll.scss */
::-webkit-scrollbar-corner { background-clip: padding-box; background-color: #F5F5F5; border: solid white; border-width: 3px 0 0 3px; }
